:root {
  --body-bg: #333;
  --webapp-bg: rgba(243, 244, 246);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
p {
  line-height: 1.6;
}
body {
  background-color: var(--body-bg);
}

.webapp {
  width: 768px;
  height: 1024px;
  background-color: var(--webapp-bg);
}
